<mat-card>
  <mat-card-content>

    <mat-toolbar color="primary"> Alunos </mat-toolbar>

<mat-table [dataSource]="lista" class="column-flex mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Nome Column -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let aluno"> {{aluno.nome}} </mat-cell>
  </ng-container>

    <!-- Data Vencimento Column -->
  <ng-container matColumnDef="dataVencimento">
    <mat-header-cell *matHeaderCellDef> Data de Vencimento </mat-header-cell>
    <mat-cell *matCellDef="let aluno"> {{aluno.dataVencimento}} </mat-cell>
  </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let aluno"> {{aluno.email}} </mat-cell>
    </ng-container>

  <!-- Data de Nascimento Column -->
  <ng-container matColumnDef="dataNascimento">
    <mat-header-cell *matHeaderCellDef> Data de Nascimento </mat-header-cell>
    <mat-cell *matCellDef="let aluno"> {{aluno.dataNascimento}} </mat-cell>
  </ng-container>

  <!-- Telefone Column -->
  <ng-container matColumnDef="telefone">
    <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
    <mat-cell *matCellDef="let aluno"> {{aluno.telefone}} </mat-cell>
  </ng-container>

  <!-- RG Column -->
  <ng-container matColumnDef="rg">
    <mat-header-cell *matHeaderCellDef> RG </mat-header-cell>
    <mat-cell *matCellDef="let aluno"> {{aluno.rg}} </mat-cell>
  </ng-container>

  <!-- CPF Column -->
  <ng-container matColumnDef="cpf">
    <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
    <mat-cell *matCellDef="let aluno"> {{aluno.cpf}} </mat-cell>
  </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: center; align-items: center; padding: 0;">
        <button mat-mini-fab class="btn btn-primary" aria-label="Adicionar um aluno" style="margin: 0; display: flex; align-items: center;">
            <mat-icon (click)="onAdd()">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let aluno">
        <button mat-icon-button style="border: none; background: none; padding: 0;">
            <mat-icon style="color: blue;">edit</mat-icon>
        </button>

        <button mat-icon-button style="border: none; background: none; padding: 0;">
            <mat-icon style="color: red;">delete</mat-icon>
        </button>
      </mat-cell>

    </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

</mat-card-content>
</mat-card>

<!-- <button (click)= "enviarDados()">Enviar Dados</button> -->

