/* Estilo geral do cartão */
mat-card {
  max-width: 80%;
  margin: 1em auto;
  text-align: center;
}

/* Container da tabela */
.table-container {
  overflow-x: auto; /* Permite a rolagem horizontal */
}

/* Configurações gerais da tabela */
mat-table {
  width: 260%; /* Largura*/
  table-layout: auto; /* Largura fixa para colunas */
}

/* Cabeçalhos da tabela */
mat-header-cell {
  white-space: nowrap; /* Evita quebra de linha nos cabeçalhos */
  padding: 8px 16px;
  text-align: left;
  font-weight: bold;
}

/* Células de dados da tabela */
mat-cell {
  white-space: nowrap; /* Evita quebra de linha nas células */
  padding: 8px 16px;
  text-align: left;
}

/* Estilo específico para colunas com texto longo */
mat-header-cell:nth-child(1),
mat-cell:nth-child(1),
mat-header-cell:nth-child(3),
mat-cell:nth-child(3),
mat-header-cell:nth-child(8),
mat-cell:nth-child(8),
mat-header-cell:nth-child(10),
mat-cell:nth-child(10),
mat-header-cell:nth-child(12),
mat-cell:nth-child(12) {
  width: auto;
}

/* Estilo específico para a coluna Telefone */
mat-header-cell:nth-child(5),
mat-cell:nth-child(5) {
  min-width: 160px; /* Largura mínima para a coluna Telefone */
}

/* Estilos para colunas específicas no mat-header-cell e mat-cell */
mat-header-cell:nth-child(2),
mat-cell:nth-child(2),
mat-header-cell:nth-child(7),
mat-cell:nth-child(7) {
  min-width: 120px; /* Data de Vencimento e CPF */
}

mat-header-cell:nth-child(4),
mat-cell:nth-child(4),
mat-header-cell:nth-child(6),
mat-cell:nth-child(6) {
  min-width: 100px; /* Data de Nascimento e RG */
}


mat-header-cell:nth-child(11),
mat-cell:nth-child(11) {
  min-width: 85px; /* CEP */
}

mat-header-cell:nth-child(9),
mat-cell:nth-child(9) {
  min-width: 50px; /* Número */
}

mat-header-cell:nth-child(13),
mat-cell:nth-child(13) {
  min-width: 30px; /* Estado */
}

/* Responsividade para telas pequenas */
@media (max-width: 600px) {
  mat-header-cell,
  mat-cell {
    min-width: 80px; /* Ajuste a largura das colunas para telas pequenas */
  }
}
