/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-delete {
  border: none;
  background: none;
  color: red;
}

.icon-edit {
  border: none;
  background: none;
  color: black; /* ou qualquer outra cor que desejar */
}

